<% provide(:title, 'Vendors') %>
<h1>VENDORS</h1>
    <div class="span8">
      <h3>Vendor Feed</h3>
      <div class="row">
      <%= render partial: 'shops/shop', collection: @shops %>
      </div>
    </div>
  </div>
