$("#shop-feed").html("<h3><%= @c.capitalize %> : <%= @s %></h3><div class='row'><%= escape_javascript(render @shops ) %></div>")
$("#tag-div").html("<%= escape_javascript(render :partial =>'shops/style_tags', :collection => @results, :as => :item, :locals => { :c => @c.intern}) %>")
