$("#shop-feed").html("<h3><%= @cat_title.capitalize %> : <%= @s %></h3><div class='pin-row'><%= escape_javascript(render @shops ) %></div>")
$("#tag-div").html("<%= escape_javascript(render :partial =>'shops/style_tags', :locals => { :results => @results, :c => @c}) %>")
