<div class="container">
  <% provide(:title, 'Vendors') %>
<h1>VENDORS</h1>
    <div class="span8">
    	<%= render 'shared/search_form' %>
    	<div id="tag_cloud">
  <% tag_cloud Shop.tag_counts, %w{s m l} do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>
      <h3>Vendor Feed</h3>
      <%= render @shops %>
    </div>
  </div>
  </div>