<%= form_for :task, :url => event_task_add_vendor_path(:task_id=>t.id, :event_id=>@event.id), remote: :true, :html => { :method => :put } do |f| %>

  <div class="field">
    <%= f.collection_select :vendor_id, vendors, :id, :name, {:prompt => "Please select a vendor" } %>

      <%= f.submit "Add",  class: "btn ", id:"submit-task-vendor-btn" %>
	</div>
<% end %>
