<li class="active">
	<a href="#january"><%= @month %></a>
    <ul class="nav">
        <li><a href="#sweetjelly">Sweet Jelly</a></li>
        <li><a href="#tiramisu">Tiramisu</a></li>
        <li><a href="#pie">Pie</a></li>
    </ul>
</li>