<div class="vendor-block">
	<%= render partial:'vendors/vendor_item', locals:{:vendor=>vendor} %>
	<div class="block-action">
		<%= link_to "edit", edit_vendor_path(vendor) %>
		| <%= link_to "remove", event_task_remove_vendor_path(task.event, task), method: :put %>
	</div> 
</div> 