<% provide(:title, @event.name) %>
<%= render 'events/heading' %>
<div class="container">
<div class="row">
	<%= render 'events/event_menu' %>
</div>

<h2>New Task</h2>
<%= render @task.parent if @task.parent %>
<%= render 'tasks/task_form' %>
</div>