
<% provide(:title, "My Events") %>
<div class="heading-block">
	
	<h1 class="elegant">My Events</h1>

</div>
<div class="container">

<%= render partial: 'users/user_events', collections: @events, :as => :item %>
</div>