<% provide(:title, "My Shops") %>
<div class="heading-block">
	
	<h1 class="elegant">My Shops</h1>

</div>
<div class="container">

	<%= render partial: 'users/user_shop', collections: @shops, :as => :item %>
</div>