<% provide(:title, "My Shops") %>
<div class="heading-block">
  
  <h1 class="elegant">My Shops</h1>

</div>
<div class="container">
<% if @shops.any? %>
	<%= render partial: 'users/user_shop', collections: @shops, :as => :item %>
<%else%>
	<span class="no-text">(No shops)</span>
<br> <br>
	<%= link_to "+ New Shop", new_shop_path, class:"all-btn" %>
<%end%>
  
</div>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0-rc2/js/bootstrap.min.js"></script>
  
