<% provide(:title, "My Shops") %>
<div class="heading-block">
  
  <h1 class="elegant">My Shops</h1>

</div>
<div class="container">

  <%= render partial: 'users/user_shop', collections: @shops, :as => :item %>
</div>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0-rc2/js/bootstrap.min.js"></script>
  
