<div class="col-md-8 col-md-offset-2">
    <%= f.label :event_type %>
    <%= f.text_field :event_type, class: "form-field", placeholder: "E.g. Evening party, Engagement Ceremony, etc." %>

    <span class="pull-right"><%= button_to "Next >", '#', id: "event-next-btn1", class: "all-btn btn", remote:true %></span>
</div>