<div class="col-md-8 col-md-offset-2">
    <%= f.label :event_type %>
   
    <%= f.select :event_type, [['Evening Party', 'evening party'], ['Chinese Ceremony', 'chinese ceremony'], ['Thai Engagement Ceremony', 'thai engagement ceremony'], ['Christian Ceremony', 'christian ceremony']], class: "form-field" %>

    <span class="pull-right"><%= button_to "Next >", '#', id: "event-next-btn1", class: "all-btn btn", remote:true %></span>
</div>