<% provide(:title, @event.name) %>
<div class="container">
	<div class="row">
		<h2><%= @event.name %></h2>
		<div class="all-block col-md-6 col-md-offset-3">
			<h3>Do you want to create a Default tasklist for your event?</h3>
			<%= button_to "Create", event_default_tasks_path(@event), class:"all-btn pull-left", method: :post %>
				<%= button_to "Skip", event_path(@event.id), class:"all-btn pull-right", method: :get %>

		</div>
	</div>