<% provide(:title, @event.name) %>
<% if signed_in? %>
<h2><%= @event.name %></h2>
<p>
    Current Total : <%= @total %>

<%= link_to "New Expense", new_event_expense_path(@event) %>
<h3>MY Expenses</h3>
<%= render @expenses %>

<% end %>