<div class="container">
<h1><%= @shop.name %>'s Gallery</h1>
<%= link_to 'Back to Shop', shop_path(@shop), class: 'btn all-btn pull-left' %>

<%= link_to 'Add photos', new_shop_photo_path(:shop_id => @shop.id), class: 'btn all-btn pull-right' %>
 
<ul class="row" id="photos-list">
  <%= render partial: "photos/photo_item", collection: @photos, as: :photo, locals: {:shop => @shop} %>
</ul>
</div>