<% provide(:title, "New Shop") %>
<div class="container">
<div class="transparent">x</div>
	<h2>Photos for <%= @shop.name %></h2>
	<h3 class="center">4. Upload photos for your shop!</h3>
		
	<div class=" form-all container col-md-4 col-md-offset-4">

		<hr>
		<%= render 'photos/photo_form' %>

	</div>
</div>