@import "jquery.countdown.css";
@import "bootstrap-sprockets";
@import 'bootstrap';
@import 'bootstrap-datetimepicker';

/* mixins, variables, etc. */
$darkGold: #5F4C0B;
$darkGold: #886A08;
$gold: #a19376;
$softerGold: #e8e1cb;
$softGold: #c8b984;

$evenLighterGrey: #fcfcfc;
$lighterGrey: #eaeaea;
$lightGrey: #ecebe9;
$softGrey: #cdcdcd;
$mediumGrey: #808080;
$grey: #666666;
$darkGrey: #504f4f;

$darkerGrey: #414141;

$lightPink: #FBEFF5;
$lightYellow: #FBFBEF;
$lightMint: #EFFBF5;
$lightPurple: #E6E0F8;
$notepadYellow:#F7F8E0;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}
body {
    margin-top: 30px;
    margin-left: 200px;
    background-color: $evenLighterGrey;
    
}

.container{
  padding: 20px;
}

@media(min-width:768px) {
    body {
        margin-top: 30px;
        margin-left: 225px;
    }
}
body/* {
  padding-top: 80px;
  background-color: $evenLighterGrey;
}*/

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

hr { 
    size:3px;
    color: $evenLighterGrey;
    width: 100%;
    color: white;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

a {
  color: $darkGold;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

.cursive{
font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;

  /*font-family: Perpetua;*/
  }

.elegant{
  font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
/*font-family: Perpetua;*/
}

h1 {
  font-size: 5em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: $darkerGrey;
  font-family: "Tw Cen MT";
  /*font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;*/
}

h2 {
  font-size: 3.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $darkerGrey;
  font-family: "Tw Cen MT";
  /*font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;*/
  /*font-family: 'Bodoni MT', Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;*/

}

h3 {
  font-size: 2em;
  letter-spacing: -1px;
  font-weight: normal;
  color: $grey;
  margin-bottom: 10px;
  font-family: "Tw Cen MT";
  /*font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;*/
  /*font-family: 'Bodoni MT', Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;*/

}

h4 {
  font-size: 1.5em;
  letter-spacing: -1px;
  font-weight: normal;
  color: $grey;
  margin-bottom: 5px;
  line-height: 0.8;
  font-family: "Tw Cen MT";
  /*font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;*/
  /*font-family: 'Bodoni MT', Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;*/
  /*font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;*/
  text-decoration: none
}

h5 {
  font-size: 1.3em;
  letter-spacing: -1px;
  font-weight: normal;
  color: $grey;
  margin-bottom: 5px;
  line-height: 0.8;
  font-family: "Tw Cen MT";
  /*font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;*/
  /*font-family: 'Bodoni MT', Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;*/
  /*font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;*/
  text-decoration: none
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  /*font-family: 'Bodoni MT', Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;*/

}

.small{
  font-size:  0.8em;
}
.full-width{
  right: 0;
}
.full-height{
  /*height: 100%;*/
  height: auto;

}

.line-divider{

  width:400px;
  height:0;
  border-top:1px solid white;
  font-size:0;
}

/* header */


#logo{
  margin:auto;
}
.logo-div{
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 40px;

}

#logo:hover {
  color:  #E65C5C;
  text-decoration: none;
}



.new-navbar-custom {
    background-color: $darkGrey;
    font-family: "Tw Cen MT";
    color: $gold;
    height: 30px;
    padding-top: 5px;
    font-size: 1em;
    float: top;
    right:0;
    left: 225px;
    position: fixed;
    top: 0;
    z-index: 1000;
}


/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        z-index: 999;
        position: fixed;
        top: 0;
        left: 0;
        width: 225px;
        /*margin-left: -225px;*/
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: $lightGrey;
        height: 100%;
    }

    .side-top{
      width: 225px;
      height: 30px;
      background-color: $darkerGrey;
    }

    .side-menu>ul>li>a {
        width: 225px;
        font-family: "Tw Cen MT";
        text-transform: uppercase;
        color: $darkGrey;
        font-size: 1em;
    }

    .side-menu>ul>li{
      padding-top: 5px;
      padding-bottom: 5px;
    }

    .side-menu>ul{
      margin-top: 40px;
      margin-bottom: 40px;
    }

    .side-nav ul>li a:hover,
    .side-nav ul>li a:focus {
        outline: none;
        color: $gold;
        text-decoration: none;
    }
    .side-menu ul>li>ul>li>a{
        width: 225px;
        font-family: "Tw Cen MT";
        text-transform: uppercase;
        color: $darkGrey;
        font-size: 0.8em;
        padding-top: 10px;
        padding-bottom: 20px;
        &:hover{
          color: $softGold;
        }
    }
    .side-menu ul>li>ul>li{
      padding-top: 5px;
      padding-bottom: 5px;
      /*border-top: 1px $lightGrey solid ;*/
      background-color: $softGrey;
      &:hover{
        background-color: $mediumGrey;
        
      }
    }

    .log-menu{
      font-size: 1em;
    }

    .log-btn{
      border: 1px $darkGrey solid;
      color: $darkGrey;
      padding: 3px;
      width: 120px;
      background-color: transparent;
      font-family: "Tw Cen MT";
      text-transform: uppercase;
      &:hover{
        /*border: 1px $gold solid;
        color: $gold;*/
        background-color: $darkGrey;
        color: $lightGrey;
      }
    }
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $lightGrey;
  color: #999;
  /*background-color: black;*/
}

footer a {
  /*color: #555;*/
  color: gray;
}

footer a:hover {
  /*color: #222;*/
  color: $softGrey;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}


/* HOME */
.heading-img{
  width: 100%;
}

/* VENDORS*/

.filter-btn-div{
  padding: 20px;
  >a{
    font-family: "Tw Cen MT";
    text-transform: uppercase;
    /*font-weight: bold;*/
    color: $darkGrey;
    font-size: 1.1em;
    &:hover{
      text-decoration: none;
      color: $gold;
    }
  }
}

#filter-block{
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 70px;
  padding-right: 70px;
  margin-bottom: 20px;
  > div{
    padding-left: 40px;
    padding-bottom: 10px;
    font-family: "Tw Cen MT";
    text-transform: uppercase;
    font-weight: bold;
    
  background-color: $lightGrey;
    > ul>li{
      text-transform: lowercase;
      font-weight: none;
    }
  }
}
#filter-params{
  text-transform: capitalize;
}
.filter-div{
  background-color: $lightGrey;
}

#filter-submit-btn {
  border: 1px;
  border-color: $darkGrey;
  border-style:  double;
  padding: 3px;
  border-radius: 2px;
  background-color: transparent;
  width: 130px;
  text-transform: uppercase;
  font-size: 1.1em;
  vertical-align: bottom;
  &:hover{
    background-color: $darkGrey;
    color: $lightGrey;
  }

}

/* SHOPS */
.event-menu > li.current {
    border-bottom: 2px black solid;
    border-radius: 0;
    background-color: transparent;
    border-radius: 0;
    >a{
      color: black;
    }
}

.event-menu > li{
  text-transform: capitalize;
  font-family: "Tw Cen MT";
  font-size: 1.3em;
  border-bottom: 2px $softGrey solid;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  width: 180px;

  &:hover{
    border-bottom: 2px black solid;
    color: black;
  }
  >a{
    color: $softGrey;
    border-radius: 0;

    &:hover{
      color: black;
      background-color: transparent;
      border-radius: 0;
    }
  }
  
}

/* EXPENSE */

.expense-table{

  font-family: Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;

}
/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid #808080;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}


/* forms */

.form-all{
  /*border: 1px $darkGold solid;*/
  padding: 15px;
  /*background-color: white;*/
  font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

.form-field{
  /*font-family: 'Book Antiqua';*/

  font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  /*font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;*/
  font-size: 1.1em;
  padding:5px;
}



.all-btn{

  background-color: white; 
  color: $darkGold;
  border: 1px $darkGold solid;
  font-size: 1.2em; 
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 0;
  font-family: "Tw Cen MT";
  &:hover{
    
  background-color: $darkGold;
  color: white;
  }
}
/* user-form*/
.user-form-container {
  border: 1px $darkGold solid;
  padding-bottom: 40px;
  padding-top: 10px;
  width: 25%;
  margin-top: 20px;

}

.user-form{
  /*font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;*/

  width: 70%;
}



.user-submit-btn{
  width: 160px;
  font-size: 1.2em;
  background-color: $darkGold;
  color: white;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
  &:hover{
    
    background-color: white; 
    color: $darkGold;
    border: 1px $darkGold solid;
  }
}

#role-field{
  background-color: $lightGrey;
  /*width: 30%;*/

}





input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;

}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $mediumGrey;
    &:last-child {
      border-bottom: 1px solid $mediumGrey;
    }
  }
}

/* microposts */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grey;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}



#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

#home-block {
  background-image: url(image-path('new_heading.png'));
  background-size: cover;

  &:hover {
    -webkit-filter: sepia;
  }
}

.heading-block {
  background-color: #3B170B;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 90px;
  padding-bottom: 90px;
  margin:0;
  > h1, h2, h3, h4{
    color: $lightYellow;
  }

}

#vendor-block {
  background-image: url(image-path('vendor-header.png'));
  background-size: cover;

  &:hover {
    -webkit-filter: sepia;
  }
}
#home-block-title {
  color:white;
  font-size: 5em;
  /*font-family: Perpetua;*/
  font-family: 'Bodoni MT', Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;
}
#home-block-subtitle{
  color:white;
  font-size: 2.8em;
  font-family: 'Bodoni MT', Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;

}
#home-block-subtitle2{
  color:white;
  font-size: 3em;
  font-family: 'Bodoni MT', Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;

}

.enhanced-text{
  font-size: 2em;
  /*font-family: 'Bodoni MT', Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;*/
  font-family: 'Book Antiqua';
  color: gray;
}
.white-enhanced-text{
  font-family: 'Book Antiqua';
  color: $softGrey;
  /*font-family: 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;*/

  font-size: 2.8em;
}
.light-enhanced-text{
  font-family: 'Book Antiqua';
  color: $softGrey;
  /*font-family: 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;*/

  font-size: 2em;
}

.btn-signup{
  color: $darkGold;
  border: 1px $darkGold solid;
  background-color: $darkerGrey;
  font-size: 1em;
  margin-left: 30px;
  &:hover{
    background-color: $darkGold;
  color: black;
  }
}
.transparent-s {
  color: transparent;
  font-size: 1em;
}
.transparent {
  color: transparent;
  font-size: 3em;
  &:hover{
    text-decoration: none;
    border: 0px;
  }
}

.grey {
  background-color: $darkerGrey;
  /*background-color: black;  */
}

.black {
  /*background-color: $darkerGrey;*/
  background-color: black;  
}

.gold {
  background-color: $darkGold;
}
.white-font{
  color: white;
}

.inline-field{
  display: inline;
}





.filter-block{
  /*background-color: $lightGrey;*/
  border-top: 1px $lightGrey solid;
  border-bottom: 1px $lightGrey solid;
  
  height:41px;
  padding-right: 20px;
  
  
}
.filter-nav > li {

  font-size: 1.3em;
   font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
  /*font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;*/
  >a {

  color: $grey;
  margin-top: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  }
}

.filter-search   >li >a{
  border-left: 1px $lightGrey solid;
}


.filter-category >li >a{
  border-right: 1px $lightGrey solid;
    text-transform: capitalize;
    

}

.tag-item {
  background-color: $lightGrey;
  margin: 5px;
  color: $darkerGrey;
  padding-top: 4px;
  padding-bottom: 5px;
  padding-right: 7px;
  padding-left: 7px;
  -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
  a{
    /*color: white;*/
  }
  &:hover{
  }
}

.fifty-percent {
  width: 49%;
}

.thirty-percent {
  width: 33%;
}

.seventy-percent {
  width: 65%;
}

/* calendar */
#my-calendar table {
  border-collapse: collapse;
}

#my-calendar td,
#my-calendar th {

  font-family: "Tw Cen MT";
  font-size: 0.8;
  padding: 5px;
  border: 1px solid $grey;
}

#my-calendar th {
  background: $darkGrey;
  color: white;
  text-align: center;
  width: 14.2857142857143%;
}

#my-calendar td {
  font-family: Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  
  background: #FFF;
  color: #777;
  height: 80px;
  vertical-align: top;
  font-size: 1em;
  &:hover {
    background-color: $lightPurple;
  }
}

#my-calendar .day-block{
  height: 100%;
  width: 100%;
}

#my-calendar .notmonth > a {
  color: #CCC;
}

#my-calendar #month {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

#my-calendar #month a, #calendar #month a:hover {
  text-decoration: none;
  padding: 0 10px;
  color: #999;
}

#my-calendar .today {
  background-color: #D7F2FF;
}

#my-calendar .selected {
  background-color: $lightPurple;
}

#my-calendar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#my-calendar li {
  margin: 0;
  padding: 0;
  font-size: 0.7em;
  text-align: center;
}

.weekly-task-item{

}

#weekly-table{
  
}

div.hidden { 
  display: none; 
}
.active-category > a{
  background-color: $lightGrey;
  color: red;
}

*, *:before, *:after {box-sizing:  border-box !important;}



.shop-block {
 /*background-color: $darkGrey;*/
 height: 370px;
 /*font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;*/
  font-family: "Tw Cen MT";
  &:hover{

    >div{
    }
  }
}

.shop-block-content{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

}
.shop-block-title {
  padding: 0;
  margin: 0;
  > a{
    font-size: 1.3em;
    font-style: bold;
  /*font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;*/
  }
}

.shop-contact-block{
  font-size: 1.1em;
  font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
}
.shop-title{
    font-size: 2.3em;
  font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;

}
.comment-item{
  font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;

  /*padding: 12px;*/
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 10px;
  border: 1px $softerGold solid;
  background-color: white;
  border-radius: 2px;
  /*box-shadow: 1px 1px 2px $darkGold;*/
  /*min-height: 10rem;*/
  color: $grey;
}
.photo-item{
  margin-top: 10px;
  margin-bottom: 10px;
  /*width: 580px;*/
  font-family: "Tw Cen MT";
  text-transform: lowercase;

}
#photos-list {
  padding: 0;

  margin: 0;
  margin-top: 30px;
  clear: both;
  li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 250px;
    margin-bottom: 5px;
    text-align: center;
    p {
      margin: 0;
      /*margin-top: 10px;*/
      /*height: 40px;*/
      overflow: hidden;
    }
  }
}

/* Task */

.imp-task-item{
  p{

  }
}

.form-block{
  /*border: 1px $softerGold solid;*/
  background-color: white;
  padding-bottom: 30px;
  padding-top: 10px;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 1px 1px 2px $lighterGrey;
}

.all-block{
  /*border: 1px $softerGold solid;*/
  background-color: white;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 30px;
  padding-top: 10px;
  border-radius: 3px;
  margin-top: 10px;
  margin: 5px;
  box-shadow: 1px 1px 2px $lightGrey;

}

.block-content{
  /*font-family: "Lucida Grande",arial,helvetica,sans-serif;*/
  
  font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  /*font-family:Century Gothic;*/
  font-size: 0.9em;
  color: $darkerGrey;
  margin-bottom: 25px;
  
}
.date{
  color: $mediumGrey;
}

.block-action{
  margin-top: 10px;
  font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  font-size: 0.9em;
  position: absolute; 
    bottom: 10px; 
    right: 15px;
}
.task-late{
  /*border: 1px #F8E0E6 solid;*/
  background-color: $lightPink;
}

.task-warning{
  /*border: 1px #F7F8E0 solid;*/
  background-color: $lightYellow;
}
.task-ok{
  /*border: 1px green solid;*/
  background-color: $lightMint;
}


.gallery-thumb{
  padding: 5px;
  &:hover{

  box-shadow: 2px 2px 3px $softerGold;

  }

}

.countdown{
  background-color: transparent;
  border: 0;
  font-size: 1.8em;
  color: $darkGold;

  font-family: "Tw Cen MT";
  /*font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;*/
  /*font-family: Perpetua;*/
  /*font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;*/
  /*font-family: 'Bodoni MT', Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;*/

}

.task-block{
  /*border: 1px $softerGold solid;*/
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 3px;
  /*margin-top: 10px;*/
  box-shadow: 1px 1px 2px $lightGrey;
  font-size: 1em;
  min-height: 130px;

}
.task-block-inline{
  font-family: Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  padding-top: 0;
  display: inline-block;
  width: 45%;
  margin: 15px;
}

.forty-five{

}

.task-calendar-block{
  width: 50%;
}


.vendor-block{
  background-color: $notepadYellow;
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 0.9em;
  font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  margin-top: 1px;
  box-shadow: 1px 1px 2px $lightGrey;
}

.vendor-index{
  margin: 5px;
}

.small-link{
  font-size: 0.4em;
  font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  
}


.category-block{
  border: 1px $mediumGrey solid;
  font-size: 2em;
  padding: 20px;
}




.toggle .label  {
  color: $darkGrey;
  font-size: 1em;
  font-weight: normal;
    &:hover{
      color: $gold;
    }
}

.toggle>input {
    display: none;
}

.label.input-checked /*, .bounds input:checked + span works for firefox and ie9 but breaks js for ie8(ONLY) */ {
  color: $darkGrey;
  font-weight: bold;
  text-decoration: underline;
}













/*   trial  */



 
ul.affix {
  position: fixed; 
  top: 60px;
  /*left: 62px;*/
  width: 260px;
  right: 80px;
}
ul.affix-top {
  position: static;
  width: 260px;
}
ul.affix-bottom {
  position: absolute;
  width: 260px;
}
 
/* First level of nav */
.sidenav {
  margin-top: 20px;
  margin-bottom: 30px;
  padding-top:    10px;
  padding-bottom: 10px;
  background-color: #f7f5fa;
  border-radius: 5px;

  font-size: 1.2em;
  font-family: "Tw Cen MT";
}

 
/* All levels of nav */
.sidebar .nav > li > a {
  display: block;
  color: #716b7a;
  padding: 5px 20px;
}
.sidebar .nav > li > a:hover,
.sidebar .nav > li > a:focus {
  text-decoration: none;
  background-color: #e5e3e9;
}
.sidebar .nav > .active > a,
.sidebar .nav > .active:hover > a,
.sidebar .nav > .active:focus > a {
  font-weight: bold;
  color: #563d7c;
  background-color: transparent;
}
 
/* Nav: second level */
.sidebar .nav .nav {
  display: none;
}
.sidebar .nav > li.active .nav {
  display:block;
}
.sidebar .nav .nav {
  margin-bottom: 8px;
}
.sidebar .nav .nav > li > a {
  font-family: Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 80%;
}
#timeline-content {
  margin-top:20px;
}

.timeline-left{
  left:0;
  float: left;
  width: 50%;
  /*margin-right: 50%;*/
  border-right: 1px $darkGrey solid;
  padding: 20px;
  height: 200px;
}
.timeline-right{
  float: right;
  width: 50%;
  /*margin-left: 50%;*/
  right: 0;
  border-left: 1px $darkGrey solid;
  padding: 20px;
  height: 200px;
}


/* TABLE */
.guest-table-no-div{
  font-family: Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  padding-top: 0;
  display: inline-block;
  width: 380px;
  margin: 15px;
}

.guest-no-table-no-div{
  font-family: Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  padding-top: 0;
  margin: 15px;

}

.article-panel{
  font-family: Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  
}

.article-title{
  /*font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;*/

  /*font-family: Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;*/
  
}
.checklist-title{
  color: $darkGold;
}

.completed-checklist{
  font-family: "Tw Cen MT";
  color: $softGrey;
  &:hover{
  color: $softGold;
  }

}
.uncompleted-checklist{
  font-family: "Tw Cen MT";
  color: $darkerGrey;
  &:hover{
  color: $darkGold;
  }
}




.guest-nav {
  margin-top: 20px;
  margin-bottom: 30px;
  padding-top:    10px;
  padding-bottom: 10px;
  background-color: #f7f5fa;
  border-radius: 5px;

  font-size: 1.2em;
  font-family: "Tw Cen MT";
}

 
/* All levels of nav */
.guest-nav  > .nav > li > a {
  display: block;
  color: #716b7a;
  padding: 5px 20px;
}
.guest-nav >.nav > li > a:hover,
.guest-nav >.nav > li > a:focus {
  text-decoration: none;
  background-color: #e5e3e9;
}
.guest-nav >.nav > .active > a,
.guest-nav >.nav > .active:hover > a,
.guest-nav > .nav > .active:focus > a {
  font-weight: bold;
  color: #563d7c;
  background-color: transparent;
}
 
/* Nav: second level */
.guest-nav >.nav > li> .nav {
  display: none;
}
.guest-nav >.nav > li> .nav > li.active .nav {
  display:block;
}
.guest-nav >.nav > li> .nav {
  margin-bottom: 8px;
}
.guest-nav >.nav > li> .nav  > li > a {
  font-family: Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 80%;
}

.set-table-btn{
  padding: 2px;
  font-size: 1em;
  width: 60px;
}

.number-field{
  width: 33px;
}

.guest-list-table{
  font-size: 1em;
  font-family: Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  letter-spacing: -1px;
  
}