@import "jquery.countdown.css";
@import "bootstrap-sprockets";
@import 'bootstrap';
@import 'bootstrap-datetimepicker';
/* mixins, variables, etc. */
$darkGold: #5F4C0B;
$gold: #886A08;
$softerGold: #e8e1cb;
$softGold: #c8b984;

$evenLighterGrey: #fcfcfc;
$lighterGrey: #eaeaea;
$lightGrey: #D8D8D8;
$softGrey: #cdcdcd;
$mediumGrey: #808080;
$grey: #666666;

$darkerGrey: #414141;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 80px;
  background-color: $evenLighterGrey;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

a {
  color: $gold;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 5em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: $darkerGrey;
  /*font-family: Perpetua;*/
  font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
}

h2 {
  font-size: 3.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $darkerGrey;
  /*font-family: Perpetua;*/
  font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
  /*font-family: 'Bodoni MT', Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;*/

}

h3 {
  font-size: 2em;
  letter-spacing: -1px;
  font-weight: normal;
  color: $grey;
  margin-bottom: 10px;
  /*font-family: Perpetua;*/
  font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
  /*font-family: 'Bodoni MT', Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;*/

}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  /*font-family: 'Bodoni MT', Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;*/

}



/* header */

#logo {
  float: left;
  padding-left: 20px;
  font-size: 1.7em;
  color:  #818181;
  letter-spacing: -1px;
  padding-top: 9px;
  margin-right: 20px;
  font-weight: bold;
  line-height: 1;
  font-family: 'Bodoni MT', Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;

}

#logo:hover {
  color:  #E65C5C;
  text-decoration: none;
}
.nav-header > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  /*font-family: 'Bodoni MT', Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;*/
  /*font-family: Perpetua;*/
  font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
  font-size: 1.5em;
  color:  gray;
  /*border-radius: 2px;*/
  margin-top: 25px;
  margin-left:6px;
  margin-right: 6px;

    &:hover{
    color:    #5F4C0B;
    background-color: white;
    
  }
}


.navbar-custom {
    background-color: white;
    padding: 3px;
    opacity: 0.92;
    border-bottom: 1px $lightGrey solid;
}
  
.left-nav{
  
}

.right-nav{
  padding-right: 30px;
  font-size: 0.8em;
}

#signin-btn{
  border-style: solid ;
  border-width: 1px;
  border-color:   white;
  &:hover{
    border-color: #5F4C0B;
    color: #5F4C0B
  }

}
#signup-btn{
  color: gray;
  border: 1px gray solid;
  &:hover{
    background-color: $gold;
  color: white;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $lightGrey;
  color: #999;
  /*background-color: black;*/
}

footer a {
  /*color: #555;*/
  color: gray;
}

footer a:hover {
  /*color: #222;*/
  color: $softGrey;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}


/* VENDORS*/

.filter-bar{
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  
}
.filter-btn >li{
  border-left: 1px solid #EEEEEE;
  margin-top: 10px;
  margin-bottom: 10px;

}

.impact{
  font-family: impact;
}

.tahoma{
  font-family: Lucida Sans Unicode;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid #808080;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}


/* forms */

.form-all{
  font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

.form-field{
  /*font-family: 'Book Antiqua';*/

  font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  /*font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;*/
  font-size: 1.1em;
  padding:5px;
}



.all-btn{

  background-color: white; 
  color: $gold;
  border: 1px $gold solid;
  font-size: 1.2em; 
  width: 160px;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 0;
  &:hover{
    
  background-color: $gold;
  color: white;
  }
}
/* user-form*/
.user-form-container {
  border: 1px $gold solid;
  padding-bottom: 40px;
  padding-top: 10px;
  width: 25%;
  margin-top: 20px;

}

.user-form{
  /*font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;*/

  width: 70%;
}



.user-submit-btn{
  width: 160px;
  font-size: 1.2em;
  background-color: $darkGold;
  color: white;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
  &:hover{
    
    background-color: white; 
    color: $gold;
    border: 1px $gold solid;
  }
}

#role-field{
  background-color: $lightGrey;
  /*width: 30%;*/

}

.event-form{

}




input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;

}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $mediumGrey;
    &:last-child {
      border-bottom: 1px solid $mediumGrey;
    }
  }
}

/* microposts */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grey;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.vendors{

  /*display: inline-block;
  border: 1px solid #e8e8e8;
  padding: 5px;*/
}


#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

#home-block {
  background-image: url(image-path('flower-bg-light.jpg'));
  background-size: cover;

  &:hover {
    -webkit-filter: sepia;
  }
}

#vendor-block {
  background-image: url(image-path('vendor-header.png'));
  background-size: cover;

  &:hover {
    -webkit-filter: sepia;
  }
}
#home-block-title {
  color:white;
  font-size: 5em;
  /*font-family: Perpetua;*/
  font-family: 'Bodoni MT', Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;
}
#home-block-subtitle{
  color:white;
  font-size: 2.8em;
  font-family: 'Bodoni MT', Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;

}
#home-block-subtitle2{
  color:white;
  font-size: 3em;
  font-family: 'Bodoni MT', Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;

}

.enhanced-text{
  font-size: 2em;
  /*font-family: 'Bodoni MT', Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;*/
  font-family: 'Book Antiqua';
  color: gray;
}
.white-enhanced-text{
  font-family: 'Book Antiqua';
  color: $softGrey;
  /*font-family: 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;*/

  font-size: 2.8em;
}
.light-enhanced-text{
  font-family: 'Book Antiqua';
  color: $softGrey;
  /*font-family: 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;*/

  font-size: 2em;
}

.btn-signup{
  color: $gold;
  border: 1px $gold solid;
  background-color: $darkerGrey;
  font-size: 1em;
  margin-left: 30px;
  &:hover{
    background-color: $gold;
  color: black;
  }
}
.transparent-s {
  color: transparent;
  font-size: 1em;
}
.transparent {
  color: transparent;
  font-size: 3em;
  &:hover{
    text-decoration: none;
    border: 0px;
  }
}

.grey {
  background-color: $darkerGrey;
  /*background-color: black;  */
}

.black {
  /*background-color: $darkerGrey;*/
  background-color: black;  
}

.gold {
  background-color: $darkGold;
}
.white-font{
  color: white;
}

.inline-field{
  display: inline;
}





.filter-block{
  /*background-color: $lightGrey;*/
  border-top: 1px $lightGrey solid;
  border-bottom: 1px $lightGrey solid;
  
  height:41px;
  padding-right: 20px;
  
  
}
.filter-nav > li {

  font-size: 1.3em;
   font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
  /*font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;*/
  >a {

  color: $grey;
  margin-top: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  }
}

.filter-search   >li >a{
  border-left: 1px $lightGrey solid;
}


.filter-category >li >a{
  border-right: 1px $lightGrey solid;
    text-transform: capitalize;
    

}

.tag-item {
  background-color: $lightGrey;
  margin: 5px;
  color: $darkerGrey;
  padding-top: 4px;
  padding-bottom: 5px;
  padding-right: 7px;
  padding-left: 7px;
  -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
  a{
    /*color: white;*/
  }
  &:hover{
  }
}

.fifty-percent {
  width: 50%;
}

/* calendar */
#calendar table {
  border-collapse: collapse;
  width: 100%;
}

#calendar td,
#calendar th {
  font-family: "Lucida Grande",arial,helvetica,sans-serif;
  font-size: 10px;
  padding: 6px;
  border: 1px solid #999;
}

#calendar th {
  background: #DDD;
  color: #666;
  text-align: center;
  width: 14.2857142857143%;
}

#calendar td {
  background: #FFF;
  color: #777;
  height: 80px;
  vertical-align: top;
  font-size: 16px;
}

#calendar .notmonth {
  color: #CCC;
}

#calendar #month {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

#calendar #month a, #calendar #month a:hover {
  text-decoration: none;
  padding: 0 10px;
  color: #999;
}

#calendar .today {
  background-color: #D7F2FF;
}

#calendar ul {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  list-style: none;
}

#calendar li {
  margin: 0;
  padding: 0;
  font-size: 11px;
  text-align: center;
}

.weekly-task-item{

}

#weekly-table{
  
}

div.hidden { 
  display: none; 
}
.active-category > a{
  background-color: $lightGrey;
  color: red;
}

*, *:before, *:after {box-sizing:  border-box !important;}


.pin-row {
 -moz-column-width: 250px;
 -webkit-column-width: 250px;
 -moz-column-gap: 1em;
 -webkit-column-gap:1em; 
  
}

.item {
 display: inline-block;
 /*padding:  .2rem;*/
 width:  100%; 
}

.shop-block {
 position:relative;
 display: block;
 background-color: white;
 /*border:1px $lighterGrey solid;*/

  box-shadow: 1px 1px 2px $lighterGrey;
  /*border-radius: 2px;*/
  padding: 0;
  margin-bottom: 2em;
 font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
}

.shop-block-content{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

}
.shop-block-title{
  font-size: 1.3em;
  font-style: bold;
  font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;

}

.shop-contact-block{
  font-size: 1.1em;
  font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
}
.shop-title{
    font-size: 2.3em;
  font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;

}
.comment-item{
  font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;

  /*padding: 12px;*/
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 10px;
  border: 1px $softerGold solid;
  background-color: white;
  border-radius: 2px;
  /*box-shadow: 1px 1px 2px $gold;*/
  /*min-height: 10rem;*/
  color: $grey;
}

#photos-list {
  padding: 0;
  margin: 0;
  margin-top: 30px;
  clear: both;
  li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 250px;
    margin-bottom: 5px;
    text-align: center;
    p {
      margin: 0;
      /*margin-top: 10px;*/
      /*height: 40px;*/
      overflow: hidden;
    }
  }
}

/* Task */

.imp-task-item{
  p{

  }
}

.form-block{
  /*border: 1px $softerGold solid;*/
  background-color: white;
  padding-bottom: 30px;
  padding-top: 10px;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 1px 1px 2px $lighterGrey;
}

.all-block{
  /*border: 1px $softerGold solid;*/
  background-color: white;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 30px;
  padding-top: 10px;
  border-radius: 3px;
  margin-top: 10px;
  margin: 5px;
  box-shadow: 1px 1px 2px $lightGrey;
}

.task-late{
  border: 1px red solid;
}
.task-ok{
  border: 1px green solid;
}

.container{
}

.gallery-thumb{
  background-color: white;
  box-shadow: 1px 1px 2px $lighterGrey;
  padding: 5px;
  &:hover{

  box-shadow: 2px 2px 3px $softerGold;

  }

}

.countdown{
  background-color: transparent;
  border: 0;
  font-size: 1.8em;
  color: $gold;
  /*font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;*/
  /*font-family: Perpetua;*/
  /*font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;*/
  font-family: 'Bodoni MT', Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;

}
#chart-1 >{
  background-color: transparent;
}