@import "bootstrap-sprockets";
@import "bootstrap";
/* mixins, variables, etc. */
$darkGold: #5F4C0B;
$softGold: #886A08;
$grayMediumLight: #eaeaea;
$grayLighter: #808080;
$grayLight: #707772;
$grey: #2E2E2E;
$softGrey: #cdcdcd;
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 80px;
  background-color: #FBF5EF;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 5em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  font-family: Perpetua;
}

h2 {
  font-size: 3.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: black;
  font-family: Perpetua;
  /*font-family: 'Bodoni MT', Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;*/

}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  /*font-family: 'Bodoni MT', Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;*/

}

/* header */

#logo {
  float: left;
  padding-left: 20px;
  font-size: 1.7em;
  color:  #818181;
  letter-spacing: -1px;
  padding-top: 9px;
  margin-right: 20px;
  font-weight: bold;
  line-height: 1;
  font-family: 'Bodoni MT', Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;

}

#logo:hover {
  color:  #E65C5C;
  text-decoration: none;
}
.nav-header > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Bodoni MT', Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;
  /*font-family: Perpetua;*/
  font-size: 1.5em;
  color:  white;
  /*border-radius: 2px;*/
  margin-top: 25px;
  margin-left:6px;
  margin-right: 6px;

    &:hover{
    color:    #5F4C0B;
    background-color: black;
    
  }
}


.navbar-custom {
    background-color: #000000;
    padding: 3px;
    opacity: 0.92;
}
  


#signin-btn{
  border-style: solid ;
  border-width: 1px;
  border-color:   white;
  &:hover{
    border-color: #5F4C0B;
    color: #5F4C0B
  }

}
#signup-btn{
  color: gray;
  border: 1px gray solid;
  &:hover{
    background-color: gray;
  color: black;
  }
}

/* footer */

footer {
  /*margin-top: 45px;*/
  padding-top: 5px;
  /*border-top: 1px solid #eaeaea;*/
  color: #999;
  background-color: black;
}

footer a {
  /*color: #555;*/
  color: white;
}

footer a:hover {
  /*color: #222;*/
  color: $softGrey;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}


/* VENDORS*/

.filter-bar{
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  
}
.filter-btn >li{
  border-left: 1px solid #EEEEEE;
  margin-top: 10px;
  margin-bottom: 10px;

}

.impact{
  font-family: impact;
}

.tahoma{
  font-family: Lucida Sans Unicode;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid #808080;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}


/* forms */

.form-field{
  font-family: 'Book Antiqua';
  font-size: 1.1em;
}
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;

}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* microposts */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.vendors{
  display: inline-block;
  border: 1px solid #e8e8e8;
  padding: 5px;
}


#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

#home-block {
  background-image: url(image-path('flower_bg.jpg'));
  background-size: cover;

  &:hover {
    -webkit-filter: sepia;
  }
}
#home-block-title {
  color:white;
  font-size: 5em;
  /*font-family: Perpetua;*/
  font-family: 'Bodoni MT', Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;
}
#home-block-subtitle{
  color:white;
  font-size: 2.8em;
  font-family: 'Bodoni MT', Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;

}
#home-block-subtitle2{
  color:white;
  font-size: 3em;
  font-family: 'Bodoni MT', Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;

}

.enhanced-text{
  font-size: 2em;
  /*font-family: 'Bodoni MT', Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;*/
  font-family: 'Book Antiqua';
  color: gray;
}
.white-enhanced-text{
  font-family: 'Book Antiqua';
  color: $softGrey;
  /*font-family: 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;*/

  font-size: 2.8em;
}
.light-enhanced-text{
  font-family: 'Book Antiqua';
  color: $softGrey;
  /*font-family: 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;*/

  font-size: 2em;
}

.btn-signup{
  color: $softGold;
  border: 1px $softGold solid;
  background-color: $grey;
  font-size: 1em;
  margin-left: 30px;
  &:hover{
    background-color: $softGold;
  color: black;
  }
}
.transparent-s {
  color: transparent;
  font-size: 1em;
}
.transparent {
  color: transparent;
  font-size: 3em;
  &:hover{
    text-decoration: none;
    border: 0px;
  }
}

.grey {
  background-color: $grey;
  /*background-color: black;  */
}

.black {
  /*background-color: $grey;*/
  background-color: black;  
}

.gold {
  background-color: $darkGold;
}
.white-font{
  color: white;
}

.inline-field{
  display: inline;
}