<%= render 'events/heading' %>
<div class="container">
	<div class="row">
		<%= render 'events/event_menu' %>
	</div>
	<div class="row">
		<div class="col-md-8">
			 <span class="no-text">You can add new vendor directly from here, or you may click on 'add to vendor' when you visit a shop's page.</span> 
			<h3>Event Vendors</h3>
			<%= render partial: 'events/vendor', collection: @vendors, as: :vendor %>
		</div>
		<div class="col-md-4">
			<h3>New Vendor</h3>
				<%= render 'events/vendor_form' %>
			
		</div>
		
	</div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0-rc2/js/bootstrap.min.js"></script>